body {
  font-family: "Montserrat", sans-serif;
}
#title {
  background-color: #04b2d9;
}

.container-fluid {
  padding: 3% 5%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.title-intro {
  -webkit-animation-name: moveit;
  -webkit-animation-duration: 2s;
  animation-name: moveit;
  animation-duration: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

@keyframes moveit {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
}
/* Nav Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 500;
}

/* button */
.down-btn {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
}

/* features */
#features {
  padding: 7% 15%;
}
.features-item {
  text-align: center;
  margin: 7% 0;
  padding: 10px;
}

.features-item:hover {
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.features-item p {
  margin: 0 auto;
  color: #8f8f8f;
}

.icon {
  color: #0367a6;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #05f2f2;
}

/* testimonials */

#testimonials {
  background-color: #05f2f2;
  color: #010a26;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
/* press */
#press {
  background-color: #05f2f2;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
