body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
}
/* heading */
.title-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 2rem;
  line-height: 1.5;
}

.grey {
  color: #8f8f8f;
}
#title {
  text-align: left;
  background-color: #04b2d9;
}

.container-fluid {
  padding: 3% 5% 7%;
}

.title-intro {
  -webkit-animation-name: moveit;
  -webkit-animation-duration: 2s;
  animation-name: moveit;
  animation-duration: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

@keyframes moveit {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

/* Nav Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 500;
}

/* button */
.down-btn {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  animation-duration: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-iteration-count: infinite;
}

.image-bounce {
  -webkit-animation-name: image-bounce;
  -webkit-animation-duration: 2s;
  animation-name: image-bounce;
  animation-duration: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-timing-function: ease;
}
@keyframes image-bounce {
  0% {
    transform: translateY(0) rotate(25deg);
  }
  50% {
    transform: translateY(-15px) rotate(25deg);
  }
  100% {
    transform: translateY(0) rotate(25deg);
  }
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0deg);
  }

  @keyframes image-bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

/* features */
#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}
.features-item {
  margin: 7% 0;
  padding: 10px;
}

.features-item:hover {
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.features-item p {
  margin: 0 auto;
  color: #8f8f8f;
}

.icon {
  color: #0367a6;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #05f2f2;
}

/* testimonials */

#testimonials {
  background-color: #05f2f2;
  color: #010a26;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}
/* press */
#press {
  background-color: #05f2f2;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

.pricing-container {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-header {
  color: #04b2d9;
}

.price-text {
  font-size: 2rem;
}

/* cta */

#cta {
  padding: 7% 5%;
  background-color: #04b2d9;
}

.cta-title {
  font-size: 3.5rem;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  #cta {
    padding: 12% 7%;
  }
  .cta-title {
    font-size: 1.5rem;
  }
}

.cta-button {
  margin: 5% 0 5%;
}

/* footer */
#footer {
  margin: 5% 3%;
}

.footer-icon {
  margin: 20px 10px;
}
